


<div class="column">
  <h3 id = "intro">Hi {{name}}</h3>



<div class="row">
<a id ="arrow" href="#" onclick = "changeCarLeft()">←</a>
<a href="/confirmation"><img id ="carPic" src="http://st.automobilemag.com/uploads/sites/11/2015/11/2016-Nissan-Altima-SR-rear-end-02.jpg" alt="" / ></a>
<a id ="arrow" href="#" onclick = "changeCarRight()">→</a>
</div>

<a href="/status">Status</a>

</div>

<script>

function changeCarRight(){
  console.log("worked")
$('#carPic').attr("src", "http://s1.cdn.autoevolution.com/images/gallery/NISSAN-Altima-3120_42.jpg")
}

function changeCarLeft(){
  console.log("worked")
$('#carPic').attr("src", "http://st.automobilemag.com/uploads/sites/11/2015/11/2016-Nissan-Altima-SR-rear-end-02.jpg")
}
</script>



<!-- {{carMake}}
{{carModel}}
{{carColor}}
{{carPlate}}
{{carState}} -->
